body {
	font-family: "Arial", sans-serif;
	height: 75%;
	margin: 25% 10%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75%;
}

header{
	margin: auto;
	position: relative;
	width: 80%;
	height: auto; 
	text-align: center;
}

.myBox {
	width: 40%;
	margin-left: 6.6%;
	height: 300px; 
	float: left;
	background-color: AliceBlue; 
	
}
