body {
	font-family: "Arial", sans-serif;
}

header{
	margin: auto;
	position: relative;
	width: 80%;
	height: auto; 
	text-align: center;
}

.myBox {
	width: 40%;
	margin-left: 6.6%;
	height: 300px; 
	float: left;
	background-color: AliceBlue; 
	
}
